@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Se aplica una tipografía y tamaño por defecto a todo el texto de la web */
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.5vh;
    /* Se le aplica el fondo a la página */
    background-image: url("./video/fondo.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Organizamos el contenido de la página con grid areas */
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 1fr 75% 1fr;
    /* Nos aseguramos de que el body ocupa el total de la web */
    width: 100%;
    height: 100vh;
    /*nos aseguramos de que no se ponga la pantalla mas pequeña y se descoloque todo*/
}

/* -------------- MODO OSCURO - FONDO
Para aplicar el modo noche declaramos una clase al body que "no existe" y con el boton le damos funciones en js para que le cambie la clase al body y se active.
*/

body.modoOscuro {
    background-image: url("./video/gifFondoOscuro.gif");
    color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* ------------------------ MODO NOCHE - POKEDEX */

#pokdexNoche {
    /* por defecto la pokedex modo noche estará deshabilitada */
    display: none;
}

body.modoOscuro section#contenidoPokemon > img {
    /* descativa la pokedex de modo dia */
    display: none;
}

body.modoOscuro section#contenidoPokemon > img#pokdexNoche {
    /* activa la foto modo noche de la pokedex */
    display: block;
    width: 90%;
    height: 95%;
    max-width: 400px;
}

/* -----------Fin modo noche */

/* --------------------------------- HEADER --------------------------------- */

/* El encabezado donde va el título */
header {
    grid-area: header;
    /* Hacemos flex para centrar el titulo en el header */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vh; /* Esta altura es el 14% del "view height" para sumarlo al contenido pokemon y al footer y hacer el 100% */
}

/* le aplicamos un tamaño al titulo */
header > img {
    height: 67%;
    width: 80%;
}

/* --------------------------------- MAIN --------------------------------- */

/* Contiene todo el contenido de la pokedex */
main {
    position: relative;
    grid-area: main;
    height: 76vh; /* Esta altura es el 75% del "view height" de la web, para centrarlo con el header y el footer */
    display: grid;
    grid-template-areas: "secciónPokemon";
    min-width: 360px;
    max-width: 360px;

    margin: auto;
}

section#seccionInput {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 360px;
    margin: 0 auto;
}

/* Este es el input para la aplicación */
section#seccionInput > input#inputPokemon {
    /* Aplicamos una ubicación fija para que coincida con el espacio de la interfaz de pokedex*/
    position: absolute;
    top: 71%;
    left: 15%;
    height: 3%;
    width: 70%;
    /* Eliminamos el formato visual para hacerlo invisible y que se adapte a la interfaz */
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Press Start 2P";
    font-size: 0.58rem;
}

/* Para mostrar en negrita el texto del input */
section#seccionInput > input#inputPokemon::placeholder {
    font-weight: bold;
}

section#seccionInput > img#pokeballGiratoria {
    position: absolute;
    display: none;
    top: 4vh;
    left: 17rem;
    width: 3rem;
    height: 7vh;
}

section#seccionInput > img.girandoPokebola {
    display: block !important;
}

/* El botón para buscar lo escrito en el input */
section#seccionInput > button#btnBuscar {
    /* Le ponemos una ubicación fija en el botón verde de la interfaz */
    position: absolute;
    height: 7%;
    width: 9.5%;
    top: 81.5%;
    left: 79.7%;
    /* Reseteamos el fondo y borde para hacerlo invisible */
    background-color: transparent;
    border: none;
    border-radius: 5vh;
    outline: none;
    /* Cuando el ratón se ponga encima se mostrara el cursor de seleccionar, para que el usuario interprete que puede hacer click */
    cursor: pointer;
    z-index: 1;
}

/* Imagen del botón buscar */
section#seccionInput > img#imgAceptar {
    position: absolute;
    width: 2.5rem;
    height: 5.4vh;
    top: 62vh;
    left: 17.75rem;
}

/* Botón para vaciar texto del input */
section#seccionInput > button#btnEliminar {
    position: absolute;
    height: 4%;
    width: 6%;
    top: 76.8%;
    left: 76.6%;
    background-color: transparent;
    border: none;
    border-radius: 5vh;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

/* Imagen del boton eliminar */
section#seccionInput > img#imgCancelar {
    position: absolute;
    width: 1.8rem;
    height: 4vh;
    top: 58vh;
    left: 17rem;
}

/* Imagen de la cruceta de movimiento (Boton arriba, derecha, izquierda y derecha */
section#seccionInput > img#imgCruceta {
    position: absolute;
    width: 4rem;
    height: 9vh;
    top: 58.5vh;
    left: 2.7rem;
}

section#seccionInput > button#btnArriba {
    position: absolute;
    height: 3.8%;
    width: 5.5%;
    top: 77%;
    left: 18%;
    background-color: transparent;
    border: none;
    border-radius: 2%;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

section#seccionInput > button#btnAbajo {
    position: absolute;
    height: 3.8%;
    width: 5.5%;
    top: 85%;
    left: 18%;
    background-color: transparent;
    border: none;
    border-radius: 2%;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

section#seccionInput > button#btnDerecha {
    position: absolute;
    height: 3.8%;
    width: 5.5%;
    top: 81%;
    left: 23.8%;
    background-color: transparent;
    border: none;
    border-radius: 2%;
    outline: none;
    cursor: pointer;
    z-index: 1;
}
section#seccionInput > button#btnIzquierda {
    position: absolute;
    height: 3.8%;
    width: 5.5%;
    top: 81%;
    left: 12%;
    background-color: transparent;
    border: none;
    border-radius: 2%;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

/* Cuando muestra sugerencias segun escribes en el input */
section#seccionInput > ul#sugerenciasPokemon {
    /* Ponemos una ubicacion fija para que coincida con un recuadro de la interfaz */
    position: absolute;
    top: 76.5%;
    left: 32.3%;
    height: 13%;
    width: 40%;
    overflow-y: auto;
    padding: 3%;
    /* Quitamos los puntos de los "ul" que se generan en JS */
    list-style-type: none;
}

/*---------------------------- Boton musica */

#botonAudio {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 60%;
    top: 6%;
    width: 12%;
    height: 9%;
}

#imgAudio {
    width: 80%;
    height: 100%;
    /* En caso de no verse la imagen se vería de color blanco */
    color: white;
}
/* -----------------finaliza boton musica */

/* ----------------- Boton modo oscuro */
#btnModoOscuro {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 45%;
    top: 6%;
    width: 12%;
    height: 9%;
}

#btnModoOscuro > img {
    width: 100%;
    height: 100%;
}

/*
----------------------------------------------------------------------
---------------------------- Info pokemon ---------------------------- 
----------------------------------------------------------------------
*/

/* El área donde va la pokedex */
section#contenidoPokemon {
    grid-area: secciónPokemon;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* La imagen de la pokedex */
/* #img1 { */
section#contenidoPokemon > img#img1 {
    width: 90%;
    height: 95%;
    max-width: 400px;
}
/* Oculta la imagen de la pokeDex grande en pantallas pequeñas */
section#contenidoPokemon > img#img2 {
    display: none;
}

section#contenidoPokemon > img#tapaPokedexMovil {
    position: absolute;
    top: 3.7vh;
    left: 1.15rem;
    width: 20.25rem;
    height: 67.6vh;
    z-index: 2;
    cursor: pointer;
}

section#contenidoPokemon > img.abrirTapa {
    perspective: 1000px !important;
    transform-origin: right center !important;
    transform: rotateY(270deg) !important;
    transition: 1s transform !important;
}

/* El contenido que se muestra de la API pokemon */
section#contenidoPokemon > section#contenido {
    position: absolute;
    top: 16.5%;
    left: 13%;
    height: 50%;
    width: 74%;
    padding: 4%;
    text-align: left;
    /* Las áreas para organizar el contenido */
    display: grid;
    grid-template-areas:
        "nombre"
        "relleno"
        "altura"
        "peso"
        "vida"
        "ataque"
        "defensa"
        "velocidad"
        "tipo";
    grid-template-rows: 1fr 55% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5vh;
}

/* Asignamos las áreas del grid a los elementos generados por el JS */

/* Título */
section#contenidoPokemon > section#contenido > h2 {
    grid-area: nombre;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* ----------------------------- ANIMACION Pokemon ----------------------------- */
.girarCarta {
    position: absolute;
    top: 6vh;
    left: 5rem;
    height: 15vh;
    width: 6rem;
    transform-style: preserve-3d; /* Para que gire como objeto 3d */
    animation: spin 8s linear infinite; /* Animación de rotación continua */
}

.giroDeFrente,
.giroDeAtras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.giroDeFrente > img#sueloFrontal,
.giroDeAtras > img#sueloFrontal {
    width: 100%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 10px 10px 25px black;
}

.giroDeAtras {
    transform: rotateY(180deg);
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
/* ---------------------------- FIN ANIMACION ---------------------------- */

/* Aplicamos tamaño y color a los textos del contenido pokemon */
section#contenidoPokemon > section#contenido > p {
    color: black;
    width: 100%;
    height: 100%;
    font-size: 1vh;
    padding-left: 1vh;
}

/* El dato "Altura" */
section#contenidoPokemon > section#contenido > p#altura {
    grid-area: altura;
}

/* El dato "Peso" */
section#contenidoPokemon > section#contenido > p#peso {
    grid-area: peso;
}

/* El dato "Vida" */
section#contenidoPokemon > section#contenido > p#vida {
    grid-area: vida;
}

/* El dato "Ataque" */
section#contenidoPokemon > section#contenido > p#ataque {
    grid-area: ataque;
}

/* El dato "Defensa" */
section#contenidoPokemon > section#contenido > p#defensa {
    grid-area: defensa;
}

/* El dato "Velocidad" */
section#contenidoPokemon > section#contenido > p#velocidad {
    grid-area: velocidad;
}

/* El dato "Tipo" */
section#contenidoPokemon > section#contenido > p#tipo {
    grid-area: tipo;
}

/* --------------------------------- FOOTER --------------------------------- */

/* Información de pie de página  */
footer {
    /* Ordenamos la info */
    grid-area: footer;
    display: grid;
    grid-template-areas: "titulo nombres";
    grid-template-columns: 2fr 4fr;
    justify-content: center;
    align-items: center;
    /* Le aplicamos un fondo y forma */
    width: 90%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.786);
    border-radius: 2vh;
    padding: 2%;
    margin: auto;
}

/* Color y tamaño del texto */
footer > section > p {
    color: rgb(255, 255, 255);
    font-size: 1vh;
    margin: auto;
}

/* Centramos el contenido del título de la info */
footer > section#tituloFooter {
    grid-area: titulo;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centramos el contenido de la info */
footer > section#nombres {
    grid-area: nombres;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------- Media query para ordenador ------------------------------- */
@media (min-width: 1024px) and (max-width: 8000px) {
    main {
        height: 75vh;
        min-width: 1000px;
        max-width: 1600px;
        max-height: 1200px;
    }
    section#seccionInput > input#inputPokemon {
        left: 145%;
        top: 69%;
        width: 100%;
        z-index: 1;
    }
    section#seccionInput > button#btnBuscar {
        top: 80%;
        left: 230%;
        z-index: 1;
    }

    #botonAudio {
        z-index: 1;
        left: 75%;
        top: 12%;
    }

    #btnModoOscuro {
        z-index: 1;
        left: 90%;
        top: 12%;
    }

    #btnModoOscuro > img {
        width: 100%;
        height: 100%;
    }

    /* El área donde va la pokedex */
    section#contenidoPokemon {
        position: relative;
        grid-area: secciónPokemon;
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    /* La imagen de la pokedex */
    /* #img1 oscultada para pc { */
    #img1 {
        display: none;
    }
    /* visualiza esta pokedex para pantallas grandes */
    section#contenidoPokemon > img#img2 {
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    /* El contenido que se muestra de la API pokemon */
    section#contenidoPokemon > section#contenido {
        position: absolute;
        top: 33%;
        left: 6%;
        height: 55%;
        width: 36.5%;
        padding: 2.5% 2%;
        text-align: center;
        /* Las áreas para organizar el contenido */
        display: grid;
        grid-template-areas:
            "nombre número"
            "relleno altura"
            "relleno peso"
            "relleno vida"
            "relleno ataque"
            "relleno defensa"
            "relleno velocidad"
            "relleno tipo";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 60% 1fr;
        gap: 1vh;
    }
    section#contenidoPokemon > section#contenido > p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1vh;
    }
    .girarCarta {
        perspective: 1000px;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 20%;
        left: 10%;
        text-align: center;
        transform-style: preserve-3d;
        animation: spin 8s linear infinite; /* Animación de rotación continua */
    }

    .giroDeFrente,
    .giroDeAtras {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    /* Asignamos las áreas del grid a los elementos generados por el JS */

    /* Título */
    section#contenidoPokemon > section#contenido > h2 {
        grid-area: nombre;
        color: black;
        width: 100%;
        height: 100%;
    }

    /* Aplicamos tamaño y color a los textos del contenido pokemon */
    /* El dato "Altura" */
    section#contenidoPokemon > section#contenido > p#altura {
        grid-area: altura;
    }

    /* El dato "Peso" */
    section#contenidoPokemon > section#contenido > p#peso {
        grid-area: peso;
    }

    /* El dato "Vida" */
    section#contenidoPokemon > section#contenido > p#vida {
        grid-area: vida;
    }

    /* El dato "Ataque" */
    section#contenidoPokemon > section#contenido > p#ataque {
        grid-area: ataque;
    }

    /* El dato "Defensa" */
    section#contenidoPokemon > section#contenido > p#defensa {
        grid-area: defensa;
    }

    /* El dato "Velocidad" */
    section#contenidoPokemon > section#contenido > p#velocidad {
        grid-area: velocidad;
    }

    /* El dato "Tipo" */
    section#contenidoPokemon > section#contenido > p#tipo {
        grid-area: tipo;
    }

    section#seccionInput > ul#sugerenciasPokemon {
        position: absolute;
        top: 73.5%;
        left: 168.7%;
        height: 13%;
        width: 50%;
        overflow-y: auto;
        padding: 3%;
        list-style-type: none;
        z-index: 1;
    }
}
